
html, body{
    height: 100%;
    color: #f4f4f4;
    font-family: 'Raleway Webfont';
}

.card {
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	background-color: #282A36;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	margin: 5% 0 5% 0;
}

a{
	text-decoration: none;
    color: #f4f4f4;
}

.container{
	display: flex;
	justify-content: center;
}

#page-container{
	height: 100%;
}

.main{
	display: flex;
	width: 40%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.header{
	width: 100%;
	font-size: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#link{
	width: 100%;
	padding: 0;
}

#time
{
	font-family: 'arial narrow';
	font-size: 500%;
}

#greeter{
	width: 60%;
	font-size: 2.6ch;
	align-self: center;
  	padding: 18px 15px 18px 15px;
}

#tools, #distraction{
	width: 100%;
  	padding: 0px 25px 2px 25px;
  	margin: 5px 10px 5px 10px;
}

h4{
	margin-bottom: 5px;
	margin-top: 15px;
}

#time, #greeter, #link{
	margin: 1.5% auto 1.5% auto;
}

#sleep-reminder, #connection-check{
	margin: 0.5% auto 0.5% auto;	
}

